<form [formGroup]="form" (submit)="submit()">
  <div class="mb-3">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" formControlName="first_name" id="first_name" class="form-control">
  </div>

  <div class="mb-3">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" formControlName="last_name" id="last_name" class="form-control">
  </div>

  <div class="mb-3">
    <label for="email">Email</label>
    <input type="text" name="email" formControlName="email" id="email" class="form-control">
  </div>

  <div class="mb-3">
    <label for="password">Password</label>
    <input type="password" name="password" formControlName="password" id="password" class="form-control">
  </div>

  <div class="mb-3">
    <label for="role_id">Role</label>
    <select name="role_id" formControlName="role_id" id="role_id" class="form-control">
      <option value="">Select</option>
      <option *ngFor="let role of roles" [ngValue]="role.id">{{ role.name }}</option>
    </select>
  </div>

  <button class="btn btn-sm btn-outline-secondary">Save</button>
</form>
